extends ./includes/layout
block body
    h1 Something's fishy here.
    h2 The page you were trying to reach doesn't exist.
    p.hel
        a(href="http://en.wikipedia.org/wiki/HTTP_404") Why might this be happening?
        a(href="/")
            p Go To Home Page