extends ./includes/layout-email
block body
   section
      .container-fluid
         .row
            .col-lg-4.col-md-6.col-sm-6.col-xs-8.col-lg-offset-4.col-md-offset-3.col-sm-offset-3.col-xs-offset-2
               .panel.panel-email
                  .panel-heading
                     h1 Somerset House
                  .panel-body
                     h4 Thanks for confirming! Have a great meeting



