doctype html
html( ng-app='app')
    head
        title Somerset House - Portal
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        include ./style
    body
        block body
        include ./scripts

