link(href="/lib/angularjs-toaster/toaster.css" rel="stylesheet")
link(href="/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet")
link(href="/lib/font-awesome/css/font-awesome.css" rel="stylesheet")
link(href="/lib/bootstrap-daterangepicker/daterangepicker-bs3.css" rel="stylesheet")
//link(href="/css/main.css" rel="stylesheet")
//link(href="/css/style.css" rel="stylesheet")
//link(href="/css/scale.css" rel="stylesheet")
//link(href="/css/responsive.css" rel="stylesheet")
link(href="/lib/intl-tel-input/build/css/intlTelInput.css" rel="stylesheet")
style.
    .intl-tel-input{
        width: 100%;
    }
