td {{c.contract | capitalize}}
td {{c.propOwner.propOwner | capitalize}}
td {{c.room.room | capitalize}}
td {{c.organisation.name}}
td {{c.start | date:'EEE dd MMM yyyy'}}
td {{c.end | date:'EEE dd MMM yyyy'}}
td {{c.monthlyRent}}
td {{c.notes}}
td
    .btn-group
        .btn.btn-default(ng-click="deleteContract(c)")
            i.glyphicon.glyphicon-trash
        .btn.btn-default(ng-click="editContract(c)")
            i.glyphicon.glyphicon-edit
