td {{c.contract | capitalize}}
td {{c.propOwner.propOwner | capitalize}}
td {{c.room.room | capitalize}}
td {{c.organisation.name}}
td {{c.start | date:'EEE dd MMM yyyy'}}
td {{c.end | date:'EEE dd MMM yyyy'}}
td {{c.monthlyRent}}
td {{c.notes}}
td
    .btn-group
        .btn.btn-default(ng-click="deleteContract(c)")
            i.glyphicon.glyphicon-trash
        .btn.btn-default(ng-click="editContract(c)")
            i.glyphicon.glyphicon-edit

    .btn-group
        button.btn.btn-primary.btn-md(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false',ng-click="getMonth(c)")
            span.fa.fa-file-text
            span.span-left-margin Get Invoice
        button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false', ng-click="getMonth(c)")
            span.caret
            span.sr-only Toggle Dropdown
        ul.dropdown-menu
            li(ng-repeat="a in allMonthsInPeriod")
                a(ng-click="setPeriod(a)") {{a}}


    //.btn.btn-min-width.btn-info(ng-click="getInvoice(c)") Invoice

