td {{v.visitor.name | capitalize}}
td {{v.visitor.email}}
td {{v.member.name}}
td {{v.organisation.name}}
td {{v.room.room}}
td {{v.wing.name}}
td {{v.location.location}}
td {{v.accepted}}
td
    //.btn-group
    //    .btn.btn-default()
    //        i.glyphicon.glyphicon-trash
    //    .btn.btn-default()
    //        i.glyphicon.glyphicon-edit
