td {{v.visitor.name | capitalize}}
td {{v.visitor.email}}
td {{v.member.name | capitalize}}
td {{v.organisation.name | capitalize}}
td {{v.room.room | capitalize}}
td {{v.wing.name | capitalize}}
td {{v.location.location | capitalize}}
td
    input(type="checkbox" ng-model="v.visitor.sendPromotions" disabled)
td(ng-class="{'warning': !v.accepted, 'success': v.accepted}") {{v.accepted}}
td
    input(type="checkbox" ng-model="ids[v.id]")
td
    p In: {{v.checkedInAt | date: 'MMM d, y h:mm a'}}
    //p Out: {{v.checkedOutAt | date: 'MMM d, y h:mm a'}}
td.dontprint
    .btn-group
        button.btn.btn-default(ng-click='deleteVisit(v)')
            i.glyphicon.glyphicon-trash
        button.btn.btn-default(ng-click="editVisit(v)")
            i.glyphicon.glyphicon-edit
    button.btn.btn-min-width(ng-click="checkInOrCheckOut(v)" ng-class="{'btn-primary': !v.checkedIn, 'btn-info': v.checkedIn}" ng-disabled="((v.checkedIn)) ?  true : false") {{ v.checkedIn?"Check In":"Check In" }}
