td {{v.visitor.name | capitalize}}
td {{v.visitor.email}}
td {{v.member.name | capitalize}}
td {{v.organisation.name | capitalize}}
td {{v.room.room | capitalize}}
td {{v.wing.name | capitalize}}
td {{v.location.location | capitalize}}
td {{v.accepted}}
td
    //.btn-group
    //    .btn.btn-default()
    //        i.glyphicon.glyphicon-trash
    //    .btn.btn-default()
    //        i.glyphicon.glyphicon-edit
