form(name="guestForm" ng-submit="submitForm(guestForm.$valid)" autocomplete="off" ng-model-options="{ updateOn: 'blur', debounce: { default: 5000, blur: 100 } }" novalidate)

    p#mandatory * Please note the all feilds below are Mandatory
    .form-group#name
        input.form-control(placeholder="Full Name e.g John Smith" type="text" ng-model="guest.name" name="name" ng-pattern="namePattern" required)#nameinput
        p.help-block(ng-show="guestForm.name.$invalid && !guestForm.name.$pristine") Please provide us with your full name

    .form-group#email
        input.form-control(placeholder="Email e.g john@gmail.com" type="email" ng-model="guest.email" name="email" required)
        p.help-block(ng-show="guestForm.email.$invalid && !guestForm.email.$pristine") Please provide us with a valid email address
    //.form-group
    //    select.form-control(name="countrycode" ng-model='guest.cCode' ng-options="cc.name for cc in cCodes")
    .form-group#phone
        //p(ng-model="guest.phone") A {{guest.phone}}
        input(type="text" ng-model="guest.phone" intl-tel-input placeholder="Phone No e.g 1234567" default-country="gb" preferred-countries="gb, us" name="phone" required)#ph.form-control
        //input(type="text" placeholder="Phone No e.g +441234567" ng-model="guest.phone" ng-pattern="phonePattern" name="phone" international-phone-number required).form-control
        //input.form-control(type="text" ng-model="guest.phone" name='phone' international-phone-number  required)
        //input.form-control(type='text' utilsScript='/lib/intl-tel-input/lib/libphonenumber/build/utils.js' ng-pattern="phonePattern" international-phone-number ng-model="guest.phone" placeholder="Phone No e.g 1234567" name="phone" required)
        //input.form-control(type="text" placeholder="Phone No e.g +441234567" ng-model="guest.phone" ng-pattern="phonePattern" name="phone" required)
        p.help-block(ng-show="guestForm.phone.$invalid && !guestForm.phone.$pristine") Please provide us with a valid phone number beginning with country code e.g. +44

    .form-group#resident(ng-model-options="{ debounce: { default: 2000, blur: 100 } }")
        input.form-control(type="text" placeholder="Resident Name e.g. Jane Doe" ng-model="guest.residentName" name="residentName" ng-pattern="namePattern" required)
        p.help-block(ng-show="guestForm.residentName.$invalid && !guestForm.residentName.$pristine") Please provide us the full name of your host
    .form-group#location
        label Location
        select.form-control(name="location" ng-model="guest.location" ng-init="lastLocation" ng-options="location for location in validLocations" required)
        p.help-block(ng-show="guestForm.location.$invalid && !guestForm.location.$pristine") Please select a location.


    .form-group#submit
        button(type="submit").btn.btn-success.btn-lg.btn-block Check In
