.container-fluid
    .navbar-header
        a.navbar-brand(href="/#!/")
            h1 Somerset House
            //img(src="/imgs/greystar/imgs/empty-logo.png")
    div( ng-show="showLogout" ng-scope)
        ul.nav.navbar-nav.navbar-right
            li
                a#navimenu(role='button', data-toggle='dropdown', data-target='#')
                    span.glyphicon.glyphicon-user
                    span.span-left-margin {{currentUser}}
                    span.caret
                ul.dropdown-menu(role='menu', aria-labelledby='navimenu')
                    li
                        a(ng-click="manage()" ng-show="isAdminUser()") Manage
                    li
                        a(ng-click="logout()") Logout
                            span.span-left-margin | {{currentUser}}

