.container-fluid
    .navbar-header
        a.navbar-brand(href="/#!/")
            h1.white Somerset House
            //img(src="/imgs/greystar/imgs/empty-logo.png")
    div( ng-show="showLogout" ng-scope)
       .nav.navbar-nav.navbar-right

           .btn-group
                button.btn.btn-search(type='button')
                        span.glyphicon.glyphicon-user
                        span.span-left-margin {{currentUser}}
                button.btn.btn-search.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                    span.caret
                    span.sr-only Toggle Dropdown
                ul.dropdown-menu
                    li
                        a(ng-click="manage()" ng-show="isAdminUser()") Manage
                    li
                        a(ng-click="frontdesk()" ng-show="isFrontUser()") Frondesk
                    li.divider(role='separator')
                    li
                        a(ng-click="logout()") Logout