h3.text-center {{pagename}}
form(name="newGuestForm" ng-submit="submitForm(newGuestForm.$valid)" autocomplete="off" ng-model-options="{ updateOn: 'blur', debounce: { default: 5000, blur: 100 } }" novalidate)
    p * Please enter the email or phone number that you used to register with us
    .form-group
        input.form-control(placeholder="Email e.g john@gmail.com" type="email" ng-model="check.email" name="email")
        p.help-block(ng-show="newGuestForm.email.$invalid && !newGuestForm.email.$pristine") Please provide us with a valid email address
    .form-group
        .text-center OR
    .form-group
        input(type="text" ng-model="check.phone" intl-tel-input placeholder="Phone No e.g 1234567" default-country="gb" preferred-countries="gb, us" name="phone").form-control
        p.help-block(ng-show="newGuestForm.phone.$invalid && !newGuestForm.phone.$pristine") Please provide us with a valid phone number beginning with country code e.g. +44


    .form-group
        .row
            .col-sm-6
                button(type="submit").btn.btn-success.btn-lg.btn-block Next
            .col-sm-6
                button.btn.btn-warning.btn-lg.btn-block(ng-click="newUser()") New User
