form(name="returningGuestForm" ng-submit="submitForm(returningGuestForm.$valid)"  autocomplete="off" ng-model-options="{ updateOn: 'blur', debounce: { default: 5000, blur: 100 } }" novalidate)
    p  Hi again, {{returningGuest.name}}, these are your saved details. Are they still correct?

    .form-group#phoneguest
        input(type="text" ng-model="returningGuest.phone" intl-tel-input placeholder="Phone No e.g 1234567" default-country="gb" preferred-countries="gb, us" name="phone" required autofocus)#ph.form-control
        p.help-block(ng-show="returningGuestForm.phone.$invalid && !returningGuestForm.phone.$pristine") Please provide us with a valid phone number beginning with country code e.g. +44
    .form-group#email
        input.form-control(placeholder="Email e.g john@gmail.com" type="email" ng-model="returningGuest.email" name="email" required)
        p.help-block(ng-show="returningGuestForm.email.$invalid && !returningGuestForm.email.$pristine") Please provide us with a valid email address
    .form-group#company(ng-model-options="{ debounce: { default: 500, blur: 100 } }" ng-show="companyshow()")
        input.form-control(type="text" placeholder="Company Name" ng-model="returningGuest.company" name="company" )
        p.help-block(ng-show="returningGuestForm.company.$invalid && !returningGuestForm.company.$pristine") Please provide us the company
    .form-group#whoru(ng-model-options="{ debounce: { default: 500, blur: 100 } }" ng-show="whorushow()")
        input.form-control(type="text" placeholder="Who are you visiting" ng-model="returningGuest.whoAreYou" name="whoAreYou")
        p.help-block(ng-show="returningGuestForm.whoAreYou.$invalid && !returningGuestForm.whoAreYou.$pristine") Please provide us the Who are you visiting
    .form-group#event(ng-model-options="{ debounce: { default: 500, blur: 100 } }" ng-show="eventshow()")
        input.form-control(type="text" placeholder="event Name" ng-model="returningGuest.event" name="event" )
        p.help-block(ng-show="returningGuestForm.event.$invalid && !returningGuestForm.event.$pristine") Please provide us the company

    .form-group#resident(ng-model-options="{ debounce: { default: 500, blur: 100 } }" ng-show="residentshow()")
        input.form-control(type="text" placeholder="Name of person e.g. Jane Doe" ng-model="returningGuest.residentName" name="residentName" ng-pattern="namePattern" )
        p.help-block(ng-show="returningGuestForm.residentName.$invalid && !returningGuestForm.residentName.$pristine") Please provide us the full name of your host
    .form-group#room(ng-model-options="{ debounce: { default: 500, blur: 100 } }" ng-show="roomshow()")
        input.form-control(type="text" placeholder="Room No" ng-model="returningGuest.roomNo" name="roomNo")
        p.help-block(ng-show="returningGuestForm.roomNo.$invalid && !returningGuestForm.roomNo.$pristine") Please provide us the Room No of your host
    .form-group#purposeOfVisit(ng-model-options="{ debounce: { default: 500, blur: 100 } }" ng-show="purposeOfVisitshow()")
        input.form-control(type="text" placeholder="Purpose of visit" ng-model="returningGuest.purposeOfVisit" name="purposeOfVisit")
        p.help-block(ng-show="returningGuestForm.purposeOfVisit.$invalid && !returningGuestForm.purposeOfVisit.$pristine") Please provide us the purpose of visit

    .form-group#location
        label Location
        select.form-control(name="location" ng-model="returningGuest.location" ng-init="lastLocation.name" ng-options="location.name for location in validLocations" required)
        p.help-block(ng-show="returningGuestForm.location.$invalid && !returningGuestForm.location.$pristine") Please select a location.


    .form-group#submit
        button(type="submit").btn.btn-success.btn-lg.btn-block Check In
