nav.navbar.navbar-default.navbar-static-top.clearfix(role='navigation' ng-controller="NaviController" ng-include="'views/greystar/views/partials/navi_bar.html'")
section
   .container-fluid
      .row
         .col-lg-8.col-md-8.col-sm-8.col-lg-offset-2.col-md-offset-2.col-sm-offset-2
            .text-center
               h1.cir-h1 404
               h3 This is not the web page you are looking for.

               a(href="/#!/login").btn.btn-link  Login
               a(href="/#!/").btn.btn-link  Home
footer(ng-include="'views/greystar/views/partials/footer.html'")
