nav.navbar.navbar-default.navbar-static-top(role='navigation' ng-controller="NaviController" ng-include="'views/partials/navi_bar.html'")

section
    .container-fluid(ng-controller="FrontDest")
        .row
            .col-lg-12
                h1.text-center Frontdesk
                h4.text-center(ng-show = "frontdesk") {{frontdesk | capitalize}}
            .col-lg-12
                .row
                    .col-lg-4
                        .form-group
                            label Date Range
                            input(date-range-picker ng-model="date" min="'2015-01-01'" ng-disabled="loadingVisits" options="opts" placeholder="{{date.startDate | date:'EEE dd MMM yyyy'}} - {{date.endDate | date:'EEE dd MMM yyyy'}} ").form-control.date-picker

                    .col-lg-4
                        .form-group
                            label Search
                            input(ng-model="searchText" placeholder="Visitor Name, Email, Member, Organisation, Room, Wing Location").form-control
                    .col-lg-4(ng-show='isadmin')
                        .form-group
                            label Wing
                            select.form-control(name="wing" ng-model="wing" ng-disabled="loadingVisits" ng-options="w.value as w.name | capitalize for w in vaildwings" required)
            .col-lg-12
                button(ng-click="forceLoadVisits()" ng-disabled="loadingVisits").btn.btn-default.dontprint
                    i.glyphicon.glyphicon-refresh(ng-class="{'icon-refresh-animate': loadingVisits}")
                    span.span-left-margin  Refresh
        .row
            .col-lg-12
                table.table.table-condensed
                    thead
                        tr
                            th  Visitor Name
                            th  Email
                            th  Member
                            th  Organisation
                            th  Room
                            th  Wing
                            th  Wing Location
                            th  Accepted
                            th  Checked Id
                            th  Timestamps
                            th
                    tbody
                        tr(ng-repeat="v in visits | orderBy:'-createdAt' | filter:searchText" ng-include="'views/partials/frontdesk_row.html'")

                .pull-right.dontprint
                    .btn.btn-default(ng-click="print()")
                        i.glyphicon.glyphicon-print
                        span.span-left-margin Print Data
                    .btn.btn-default
                        a(ng-href="{{reports()}}")
                            i.glyphicon.glyphicon-export
                            span.span-left-margin Export to CSV




footer(ng-include="'views/partials/footer.html'")