nav.navbar.navbar-default.navbar-static-top(role='navigation' ng-controller="NaviController" ng-include="'views/partials/navi_bar_home.html'")

section
    .container-fluid
        .row
            .col-lg-8.col-md-8.col-sm-8.col-xs-8.col-lg-offset-2.col-md-offset-2.col-sm-offset-2.col-xs-offset-2
                div(ng-controller="Guest")
                    //h2.title.white.text-center {{member.wing.name}} Check-In
                    .row
                        .col-lg-6.col-md-6.col-sm-6.col-lg-offset-3.col-md-offset-3.col-xs-offset-3
                            .checkin-form
                                h2.title.text-center {{member.wing.name}} Check-In
                                form(name="guestForm" ng-submit="submitForm(guestForm.$valid)" ng-model-options="{ debounce: { default: 1800, blur: 100 } }" novalidate)
                                    .form-group
                                        label Member info
                                        p.mem-name {{ member.name }}
                                        p.org-margin Form {{ member.organisation.name }}
                                    .form-group
                                        label Visitor Name
                                        input.form-control(type="text" placeholder="Visitor Name" ng-model="guest.name" name="name" required)
                                        p.help-block(ng-show="guestForm.name.$invalid && !guestForm.name.$pristine") Please provide us with a organisation name
                                    .form-group
                                        label Email
                                        input.form-control(placeholder="Email e.g john@gmail.com" type="email" ng-model="guest.email" name="email" ng-pattern='emailPattern' required)
                                        p.help-block(ng-show="guestForm.email.$invalid && !guestForm.email.$pristine") Please provide us with a valid email address
                                    .form-group
                                        label Phone
                                        input(type="text" ng-model="guest.phone" intl-tel-input placeholder="Phone No e.g 1234567" default-country="gb" preferred-countries="gb, us" name="phone" required).form-control
                                        p.help-block(ng-show="guestForm.phone.$invalid && !guestForm.phone.$pristine") Please provide us with a valid phone number beginning with country code e.g. +44
                                    .form-group
                                        button(type="submit" ng-disabled="memberForm.$invalid").btn.btn-search.btn-lg.btn-block Check-In





                        //    .panel.panel-default
                        //        .panel-heading Member Info
                        //        .panel-body
                        //            label Member Name
                        //            p {{ member.name }}
                        //            label Email
                        //            p {{ member.email }}
                        //            label Phone
                        //            p {{ member.phone }}
                        //            label Organisation Name
                        //            p {{ member.organisation.name }}
                        //            label Room
                        //            p {{ member.room.room }}
                        //            label Location
                        //            p {{ member.location.location }}
                        //
                        //.col-lg-6.col-md-6.col-sm-6
                        //
                        //    .panel.panel-default
                        //        .panel-heading Guest Form
                        //        .panel-body




footer(ng-include="'views/partials/footer.html'")