nav.navbar.navbar-default.navbar-static-top(role='navigation' ng-controller="NaviController" ng-include="'views/partials/navi_bar.html'")
section
    .container-fluid
        .row
            .col-lg-4.col-md-6.col-sm-6.col-xs-8.col-lg-offset-4.col-md-offset-3.col-sm-offset-3.col-xs-offset-2
                div(ng-controller="Manage")
                    h2.title.text-center {{name}}

                    button(type="button" ng-click="gotoAdminManage()").btn.btn-default.btn-lg.btn-block Manage Admin
                    button(type="button" ng-click="gotoWingManage()").btn.btn-default.btn-lg.btn-block Manage Wing
                    button(type="button" ng-click="gotoWingPropertyManage()").btn.btn-default.btn-lg.btn-block Manage Wing Property
                    button(type="button" ng-click="gotoOrganisationManage()").btn.btn-default.btn-lg.btn-block Manage Organisation
                    button(type="button" ng-click="gotoMemberManage()").btn.btn-default.btn-lg.btn-block Manage Member