nav.navbar.navbar-default.navbar-static-top.clearfix(role='navigation' ng-controller="NaviController" ng-include="'views/greystar/views/partials/navi_bar.html'")
section(ng-controller="StudentOtherCtrl")
    .container-fluid
        .row
            .col-lg-4.col-md-6.col-sm-6.col-xs-12.col-lg-offset-4.col-md-offset-3.col-sm-offset-3
                h1.title.text-center Check In
                h3.text-center {{pagename}}
                form(name="studentOtherForm" ng-submit="submitForm(studentOtherForm.$valid)" autocomplete="off" ng-model-options="{ updateOn: 'blur', debounce: { default: 5000, blur: 100 } }" novalidate)
                    p * Please fill in your details to check in
                    .form-group
                        input.form-control(placeholder="Full Name e.g John Smith" type="text" ng-model="studentOtherGuest.name" name="name" ng-pattern="namePattern" required)#nameinput
                        p.help-block(ng-show="studentOtherForm.name.$invalid && !studentOtherForm.name.$pristine") Please provide us with your full name
                    .form-group
                        input.form-control(placeholder="Email e.g john@gmail.com" type="email" ng-model="studentOtherGuest.email" name="email" ng-pattern='emailPattern' required)
                        p.help-block(ng-show="studentOtherForm.email.$invalid && !studentOtherForm.email.$pristine") Please provide us with a valid email address
                    .form-group
                        input(type="text" ng-model="studentOtherGuest.phone" intl-tel-input placeholder="Phone No e.g 1234567" default-country="gb" preferred-countries="gb, us" name="phone" required)#ph.form-control
                        p.help-block(ng-show="studentOtherForm.phone.$invalid && !studentOtherForm.phone.$pristine") Please provide us with a valid phone number beginning with country code e.g. +44
                    .form-group(ng-model-options="{ debounce: { default: 500, blur: 100 } }")#residentstudentOther
                        input.form-control(type="text" placeholder="Name of person you are visiting  e.g. Jane Doe" ng-model="studentOtherGuest.residentName" name="residentName" ng-pattern="namePattern")
                        p.help-block(ng-show="studentOtherForm.residentName.$invalid && !studentOtherForm.residentName.$pristine") Please provide us the full name of your host
                    .form-group(ng-hide="studentOtherGuest.roomNo || studentOtherGuest.residentName")
                        .text-center OR
                    .form-group(ng-model-options="{ debounce: { default: 500, blur: 100 } }")#roomstudentOther
                        input.form-control(type="text" placeholder="Room No" ng-model="studentOtherGuest.roomNo" name="roomNo")
                        p.help-block(ng-show="studentOtherForm.residentName.$invalid && !studentOtherForm.residentName.$pristine") Please provide us the room no of your host
                    .form-group
                        label Location
                        select.form-control(name="location" ng-model="studentOtherGuest.location" ng-init="lastLocation" ng-options="location.name for location in validLocations" required)
                        p.help-block(ng-show="studentOtherForm.location.$invalid && !studentOtherForm.location.$pristine") Please select a location.
                            .form-group
                        button(type="submit").btn.btn-success.btn-lg.btn-block Submit

        .row
            .col-lg-4.col-md-6.col-sm-6.col-xs-12.col-lg-offset-4.col-md-offset-3.col-sm-offset-3
                    .row.info
                        .col-xs-3.col-sm-2.text-center
                            i.fa.fa-medkit.fa-4x
                        .col-xs-9.col-sm-10
                            span Please share your contact information to also allow us to contact you in the event of an emergency.
                    .row.info
                        .col-xs-3.col-sm-2.text-center
                            i.fa.fa-gift.fa-4x
                        .col-xs-9.col-sm-10
                            span Your contact information helps us to tell you about our exciting events and special offers.

                    .row.info
                        .col-xs-12.col-sm-12
                            .space-form
                                .checkbox#promotions
                                    label
                                        input(type="checkbox" ng-model="studentOtherGuest.sendPromotions")
                                        | Would you like to be contacted with great offers from Greystar and our marketing partners?
